extends layout

block content
	#content.login
		if !user
			.left-col.col-lg-6
				h2 Sign In
				form(ng-submit='localAuth()', ng-controller='auth')
					input(type='text', ng-model='user.username', name='username', placeholder='username')
					input(type='password', ng-model='user.password', name='password', placeholder='password')
					button.cta-btn(type='submit' value='submit')
						span Submit
		.right-col.col-lg-6
			.intro
				h2 Welcome to Mean Messenger JS!
				p Please sign up now for a free account!
				
	a(href='/signup') signup
				
			
