extends layout

block content
	#content.settings
		.center
			.left-col.col-lg-6
				h3 Logged in as #{user_display_name}
			.right-col.col-lg-6
				h3 Authorization
				p If you wish to integrate social media with Mean Messenger JS, Please authenticate above.
				

		div.clear


