extends layout

block content
	.left-col.col-lg-6
		
		h2 Create Account
		form(method='post' action='/signup')
			input(type='text', name='username', placeholder='username')
			input(type='password', name='password', placeholder='password')
			button.cta-btn(type='submit' value='submit')
				span Sign Up
