.close-chat{
    width:30px;
    height:30px;
    background-color:grey;
    float:right;
    cursor:pointer;
}

.chatDisplay{
    padding:0!important;
    list-style-type: none!important;
}

.userSymbol{
    color:aliceblue;
    padding-right: 5px;
}

.message{
    font-size: 10pt!important;   
}

.privateChat{
    max-width:250px;   
}